body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom right, #f1df73, #ee9585); /* Ajusta los colores según tu preferencia */
}

.navbar {
    position: relative;
    z-index: 1000;
}

.container {
    margin-top: 50px;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* .info-box {
    text-align: justify;
} */

.info-box {
    text-align: justify;
    background: linear-gradient(to right, #e0e0e0, #ffffff); /* Degradado de colores para el fondo del cuadro */
    padding: 20px; /* Ajusta el espacio interior según sea necesario */
    border-radius: 10px; /* Bordes redondeados para un aspecto más suave */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra para resaltar el cuadro */
    margin-bottom: 20px; /* Espaciado inferior entre los cuadros */
}


.hr-separator {
    margin-top: 50px;
    margin-bottom: 50px;
}

/* Modificar el título */
/* .info-box h1 {

    font: oblique bold 120% cursive;
    font-size: 32px; /* Tamaño del título */
    /* color: #cfd9e4; /* Color del título */
/* } */ 
.info-box h1 {
    font-size: 32px;
    color: #fff; /* Color del texto del título */
    background: linear-gradient(to right, #007bff, #00ccff); /* Degradado de colores para el fondo del título */
    padding: 10px; /* Ajusta el espacio interior según sea necesario */
    display: inline-block; /* Para que el degradado aplique solo al texto, no a toda la línea */
}

/* Modificar el texto de información */
.info-box p {
    font-family: "Latin Modern Roman";
  font-style: italic;
    font-size: 28px; /* Tamaño del texto */
    color: #000000; /* Color del texto */
}

/* Ajustes adicionales según sea necesario */
.centered-image {
    display: block;
    margin: 0 auto; /* Centrar horizontalmente */
    max-width: 100%; /* Ajustar el tamaño máximo */
    height: auto; /* Mantener la proporción de aspecto */
}

.centered-and-enlarged-image {
    display: block;
    margin: 100px auto 0; /* Centrar horizontalmente y agregar margen superior de 100px */
    width: 100%; /* Ajustar el tamaño al 100% del contenedor */
    max-width: 600px; /* Establecer un ancho máximo según tus necesidades */
    height: 700px; /* Mantener la proporción de aspecto */
}

.navbarini {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: #ffffff;
  border-bottom: 3.5px solid #000000;
  display: flex; /* Agregado */
  justify-content: center; /* Agregado */
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-brand img {
  margin-right: 100px;
}

.navbar-nav {
  display: flex;
  align-items: center;
  justify-content: center; /* Agregado */
}

.navbar-nav .nav-item {
  margin-left: 50px;
  margin-right: 50px; /* Modificado */
}

.navbar-nav .nav-link {
  background-color: #ffffff;
  border-radius: 5px;
  padding: 5px 10px;
  transition: 0.3s;
  font-size: 18.74px;
  font-weight: thin;
}


.navbar-nav .nav-link.special-link {
  background-color: #000000;
  color: #ffffff;
  padding: 5px 10px;
  border: 3px solid #ccc;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.navbar-nav .nav-link.special-link:hover {
  background-color: rgb(171, 194, 228);
  color: #000000;
  border: solid #3a3737;
}

@media (max-width: 768px) {
  .navbar-nav {
    flex-direction: column;
  }

  .navbar-nav .nav-item {
    margin: 10px 0;
  }
}
