body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background: #e47e96; /* Rosa pastel */
}

.navbar {
    border-bottom: 3px solid #000000;
}

.container-beca {
    max-width: 800px;
    margin: 50px auto;
    background: #e7c09e;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
}

.becas-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.beca {
    background-color: #d8f390; /* Verde pastel ajustado */
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(255, 0, 0, 0.1);
    box-sizing: border-box;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
    margin-bottom: 20px;
}

.beca:hover {
    transform: scale(1.05);
}

h2, p {
    margin: 0;
}

h2 {
    color: #333;
}

p {
    margin-top: 10px;
    color: #666;
}

.titulo {
    text-align: center;
    margin-top: 10px;
}

.navbar-nav {
    display: flex;
    gap: 120px;
    align-items: center;
}

.navbar-nav .nav-link {
    color: #000000;
    font-size: 19px;
    margin: 0 30px;
}
.navbar-brand {
    margin-right: 30px;  /* Mueve el logotipo hacia la izquierda */
  }
  
  /* Ajusta el margen izquierdo del logotipo si es necesario */
  .navbar-brand {
    margin-left: 90px;  /* Ajusta según sea necesario */
  }

#texto {
    font-size: 18px;
    line-height: 1.5;
    color: #333;
    text-align: center;
    margin-top: 20px;
}

#texto::first-line {
    font-weight: bold;
}

#fondo {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background: #FAEBD7;
}

#labelIdioma {
    position: fixed;
    top: 0px;
    right: 30px;
    z-index: 9999;
  }
  
  .idioma-container {
    position: fixed;
    top: 20px;
    right: 10px;
    z-index: 9998;
  }
  
  .idioma-container .custom-select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  
  .idioma-container .custom-select img {
    margin-left: 10px;
    max-width: 20px; /* tamaño imagen */
  }
  
  .idioma-container .custom-options {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .idioma-container .custom-options.show {
    display: block;
  }
  
  .idioma-container .custom-option {
    padding: 10px;
    cursor: pointer;
  }