<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>La Vía al Éxito</title>
    <link rel="stylesheet" href="/LVAE/core/static/css/styles-becas.css">
</head>
<body>
    <div class="container">
        <div class="beca">
            <h2>Beca 1</h2>
            <p>Descripción de la Beca 1.</p>
        </div>

        <div class="beca">
            <h2>Beca 2</h2>
            <p>Descripción de la Beca 2.</p>
        </div>

        <div class="beca">
            <h2>Beca 3</h2>
            <p>Descripción de la Beca 3.</p>
        </div>

        <div class="beca">
            <h2>Beca 4</h2>
            <p>Descripción de la Beca 4.</p>
        </div>

        <div class="beca">
            <h2>Beca 5</h2>
            <p>Descripción de la Beca 5.</p>
        </div>

        <div class="beca">
            <h2>Beca 6</h2>
            <p>Descripción de la Beca 6.</p>
        </div>

        <div class="beca">
            <h2>Beca 7</h2>
            <p>Descripción de la Beca 7.</p>
        </div>

        <div class="beca">
            <h2>Beca 8</h2>
            <p>Descripción de la Beca 8.</p>
        </div>

        <div class="beca">
            <h2>Beca 9</h2>
            <p>Descripción de la Beca 9.</p>
        </div>
    </div>
</body>
</html>
