<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>La Vía al Éxito</title> 
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles-donaciones.css' %}">
</head>
<body>
    <div class="body">
        <div class="center-container">
            <div class="donation-container">
                <button>
                    <img src="{% static 'assets/img/tarjeta.png' %}" alt="">
                    Dona Ahora!
                </button>
                <div class="text-container">
                    <p>Su donación puede ayudar a una persona</p>
                    <p>a tener un futuro mejor.</p>
                </div>
                <div class="image-container">
                    <img src="{% static 'assets/img/corazon.png' %}" alt="">
                    <img src="{% static 'assets/img/corazon.png' %}" alt="">
                    <img src="{% static 'assets/img/corazon.png' %}" alt="">
                    <img src="{% static 'assets/img/corazon.png' %}" alt="">
                    <img src="{% static 'assets/img/corazon.png' %}" alt="">
                </div>
            </div>
        </div>
    </div>
</body>
</html>
