<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>La Vía al Éxito</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles-gestionperfil.css' %}">
</head>
<body>
    <div class="login-container">
        <div class="icon">
            <img src="{% static 'assets/img/logosinfd.png' %}" alt="Imagen Central" class="center-image">
        </div>
        <h1>La Vía al Éxito</h1>
        <h2>Actualizar Datos</h2>

        <form onsubmit="return validarFormulario()">
            <div class="form-row">
                <label for="email">Correo Electrónico Actual</label>
                <input type="email" id="email" name="email" placeholder="Ingrese su correo electrónico actual" required>
            </div>

            <div class="form-row">
                <label for="respuestaEmail">Nuevo Correo Electrónico </label>
                <input type="text" id="respuestaEmail" name="respuestaEmail" placeholder="Ingrese su correo electrónico actualizado" required>
            </div>

            <div class="form-row">
                <label for="password">Contraseña Actual</label>
                <input type="password" id="password" name="password" placeholder="Ingrese su contraseña actual" required>
            </div>

            <div class="form-row">
                <label for="respuestaPassword">Nueva Contraseña</label>
                <input type="password" id="respuestaPassword" name="respuestaPassword" placeholder="Ingrese su contraseña actualizada" required>
            </div>

            <div class="form-row">
                <label for="confirmarPassword">Confirmar Nueva Contraseña</label>
                <input type="password" id="confirmarPassword" name="confirmarPassword" placeholder="Confirme su nueva contraseña" required>
            </div>

            <div class="form-row">
                <label for="telefono">N° Telefónico Actual</label>
                <input type="tel" id="telefono" name="telefono" placeholder="Ingrese su número telefónico actual" required>
            </div>

            <div class="form-row">
                <label for="respuestaTelefono">Nuevo N° Telefónico</label>
                <input type="text" id="respuestaTelefono" name="respuestaTelefono" placeholder="Ingrese su número telefónico actualizado" required>
            </div>

            <div class="button-container">
                <button class="btn-enviar">Enviar</button>
            </div>            
        </form>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>

    <script>
        function validarFormulario() {
            var nuevaPassword = document.getElementById('respuestaPassword').value;
            var confirmarPassword = document.getElementById('confirmarPassword').value;

            if (nuevaPassword.length < 8) {
                alert('La nueva contraseña debe tener al menos 8 caracteres.');
                return false;
            }

            if (nuevaPassword !== confirmarPassword) {
                alert('Las contraseñas no coinciden. Por favor, verifica.');
                return false;
            }

            var telefonoActual = document.getElementById('telefono').value;
            var nuevoTelefono = document.getElementById('respuestaTelefono').value;

            var telefonoRegex = /^\d{10}$/;  // Asumiendo que un número telefónico válido tiene 10 dígitos
            if (!telefonoRegex.test(telefonoActual) || !telefonoRegex.test(nuevoTelefono)) {
                alert('Ingresa números de teléfono válidos.');
                return false;
            }

            var emailActual = document.getElementById('email').value;
            var nuevoEmail = document.getElementById('respuestaEmail').value;

            var emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
            if (!emailRegex.test(emailActual) || !emailRegex.test(nuevoEmail)) {
                alert('Ingresa direcciones de correo electrónico válidas.');
                return false;
            }
            // Si todas las validaciones son exitosas, el formulario se enviará
            return true;
        }
    </script>
</body>
</html>
