<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>La Vía al Éxito</title>
    {%load static%}
    <link rel="icon" href="{% static 'assets/img/favico.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'css/styles-index2.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
  
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>
<body>
  <nav class="navbarini navbar navbar-expand-lg navbar-light">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img src="{% static 'assets/img/logosinfd.png' %}" alt="Logo" style="width: 110px; height: 90px; margin-right: 50px;">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link translate-es" style="color: black;" href="/donaciones/">Donaciones</a>
                    <a class="nav-link translate-en" style="color: black; display: none;" href="/donations/">Donations</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link translate-es" style="color: black;" href="/acercade/">Acerca de</a>
                    <a class="nav-link translate-en" style="color: black; display: none;" href="/about/">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link translate-es" style="color: black;" href="/rs/">Redes</a>
                    <a class="nav-link translate-en" style="color: black; display: none;" href="/networks/">Socials</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link special-link translate-es" href="/gestionar_perfil/">Mi Cuenta</a>
                    <a class="nav-link special-link translate-en" style="display: none;" href="/profile_management/">My Account</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

    <main>
        <h1 class="titulo translate-es" style="text-align: center; font-family: 'Playfair Display', serif;
        ">¡Bienvenido!</h1>
        <p style="text-align: center; font-family: 'PT Serif', serif; 
        ;
        " class="translate-es">Agradecemos que hayas iniciado sesión en La Vía al Éxito. Ahora, como usuario registrado, tienes acceso a una variedad de recursos educativos para apoyarte en tu camino académico. Explora las siguientes secciones para obtener la información que necesitas</p>
        <h1 class="titulo translate-en" style="text-align: center; font-family: 'Playfair Display', serif; display: none;
        ">¡Welcome!</h1>
        <p class="translate-en"  style="text-align: center; font-family: 'PT Serif', serif; display: none
        ;
        ">We appreciate that you have logged in to La Vía al Éxito. Now, as a registered user, you have access to a variety of educational resources to support you on your academic path. Explore the following sections to get the information you need</p>
        
        <div class="main-content translate-es">
          <div class="left-section">
              <div class="text-content">
                  <h3 style="font-family: 'Playfair Display', serif;">Descubre Recursos Educativos</h3>
                  
                  <p style="font-family: 'PT Serif', serif;">Explora nuestra amplia gama de recursos educativos diseñados para impulsar tu aprendizaje y ayudarte a alcanzar tus metas académicas. Desde materiales didácticos hasta tutoriales interactivos, estamos aquí para apoyarte en cada paso.</p>
              </div>
              <div class="image">
                  <img src="{% static 'assets/img/index2.jpg' %}" alt="Imagen de la landing page">
              </div>
          </div>
        </div>
        <div class="main-content translate-en" style="display: none;">
          <div class="left-section">
              <div class="text-content">
                  <h3 style="font-family: 'Playfair Display', serif;">Discover Educational Resources</h3>
                  
                  <p style="font-family: 'PT Serif', serif;">Explore our wide range of educational resources designed to boost your learning and help you achieve your academic goals. From instructional materials to interactive tutorials, we're here to support you every step of the way.</p>
              </div>
              <div class="image">
                  <img src="{% static 'assets/img/index2.jpg' %}" alt="Image of the landing page">
              </div>
          </div>
      </div>
      <div class="connect-with-us translate-es">
        <h3 style="font-family: 'Playfair Display', serif;">Recursos Educativos Esenciales para Alcanzar tus Metas Académicas.</h3>
     </div>
      <div class="connect-with-us translate-en" style="display: none;">
      <h3 style="font-family: 'Playfair Display', serif;">Essential Educational Resources to Achieve Your Academic Goals.</h3>
      </div>
      <div class="main-content translate-es">
        <div class="values">
            <div class="value-container">
                <div class="value bordered rounded-box">
                    <h3 style="font-family: 'Anton', sans-serif;">Universidad o College</h3>
                    <p style="font-family: 'EB Garamond', serif;">En Estados Unidos, "school" abarca desde la primaria hasta la universidad. Después de la preparatoria, las opciones son "college" (colegio) o "university" (universidad). Aunque se usan de manera intercambiable, "college" suele ser más especializado y pequeño, mientras que "university" es más grande y ofrece una gama más amplia de programas académicos.</p>
                    <a href="/unicolla/" class="btn ver-mas" id="verMas1" style="font-family: 'Teko', sans-serif;">Ver Más</a>
                </div>
            </div>
        </div>
    </div>
    <div class="main-content translate-en" style="display: none;">
      <div class="values">
          <div class="value-container">
              <div class="value bordered rounded-box">
                  <h3 style="font-family: 'Anton', sans-serif;">College or University</h3>
                  <p style="font-family: 'EB Garamond', serif;">In the United States, "school" covers from elementary to college. After high school, the options are "college" or "university." Although used interchangeably, "college" is usually more specialized and smaller, while "university" is larger and offers a broader range of academic programs.</p>
                  <a href="/unicolla/" class="btn ver-mas" id="verMas1" style="font-family: 'Teko', sans-serif;">Read More</a>
              </div>
          </div>
      </div>
  </div>
  <div class="value-container translate-es">
    <div class="value bordered rounded-box">
        <h3 style="font-family: 'Anton', sans-serif;">Prepárate desde la Secundaria</h3>
        <p style="font-family: 'EB Garamond', serif;">En Estados Unidos, es posible prepararse para ingresar a la universidad desde la secundaria. Los encargados de evaluar las solicitudes de admisión valoran la formación temprana de los solicitantes. Participar en diversas actividades extracurriculares durante la secundaria puede mejorar tu perfil y hacer tu solicitud más atractiva.</p>
        <a href="/secundaria/" class="btn ver-mas" id="verMas2" style="font-family: 'Teko', sans-serif;">Ver Más</a>
    </div>
</div>
<div class="value-container translate-en" style="display: none;">
  <div class="value bordered rounded-box">
      <h3 style="font-family: 'Anton', sans-serif;">Prepare from High School</h3>
      <p style="font-family: 'EB Garamond', serif;">In the United States, it is possible to prepare for college admission from high school. Admissions officers value early formation of applicants. Engaging in various extracurricular activities during high school can enhance your profile and make your application more attractive.</p>
      <a href="/secundaria/" class="btn ver-mas" id="verMas2" style="font-family: 'Teko', sans-serif;">Read More</a>
  </div>
</div>
      
<div class="additional-section translate-es">
  <div class="value-container">
      <div class="value bordered rounded-box">
          <h3 style="font-family: 'Anton', sans-serif;">Paso a Paso Para Los Padres</h3>
          <p style="font-family: 'EB Garamond', serif;">Accede a nuestra guía para padres, donde proporcionamos valiosa información detallada sobre la transición de tus hijos de la secundaria a la universidad. Prepárate junto a nosotros para esta etapa crucial en el camino hacia el éxito académico y profesional.</p>
          <a href="/pasoapaso/" class="btn ver-mas" id="verMas2" style="font-family: 'Teko', sans-serif;">Ver Más</a>
      </div>
  </div>
</div>
<div class="additional-section translate-en" style="display: none;">
  <div class="value-container">
      <div class="value bordered rounded-box">
          <h3 style="font-family: 'Anton', sans-serif;">Step by Step for Parents</h3>
          <p style="font-family: 'EB Garamond', serif;">Access our parent guide, where we provide valuable detailed information about your children's transition from high school to college. Prepare with us for this crucial stage on the path to academic and professional success.</p>
          <a href="/pasoapaso/" class="btn ver-mas" id="verMas2" style="font-family: 'Teko', sans-serif;">Read More</a>
      </div>
  </div>
</div>

<div class="additional-section translate-es">
  <div class="value-container">
      <div class="value bordered rounded-box">
          <h3 style="font-family: 'Anton', sans-serif;">Información sobre Becas</h3>
          <p style="font-family: 'EB Garamond', serif;">Accede a nuestra información sobre becas.</p>
          <a href="/infobecas/" class="btn ver-mas" id="verMas3" style="font-family: 'Teko', sans-serif;">Ver Más</a>
      </div>
  </div>
</div>
<div class="additional-section translate-en" style="display: none;">
  <div class="value-container">
      <div class="value bordered rounded-box">
          <h3 style="font-family: 'Anton', sans-serif;">Scholarship Information</h3>
          <p style="font-family: 'EB Garamond', serif;">Access our scholarship information.</p>
          <a href="/infobecas/" class="btn ver-mas" id="verMas3" style="font-family: 'Teko', sans-serif;">Read More</a>
      </div>
  </div>
</div>

    </main>
    <link href="https://fonts.googleapis.com/css2?family=Teko&display=swap" rel="stylesheet">
  <div class="idioma-container">
    <div class="custom-select" id="customSelect">
        <span>Español</span>
        <img src="{% static 'assets/img/idioma_español.png' %}" alt="Español">
    </div>
          <!-- ESTO DA ERROR PERO FUNCIONA BIEN, Y SI FUNCIONA BIEN NO SE TOCA :) -->
    <div class="custom-options" id="customOptions">
        <div class="custom-option" onclick="selectOption('es', 'Español', '{% static 'assets/img/idioma_español.png' %}')">Español</div>
        <div class="custom-option" onclick="selectOption('en', 'Ingles', '{% static 'assets/img/idioma_ingles.png' %}')">Ingles</div>
    </div>
    <!-- Scripts de Bootstrap y otros scripts -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <script>
      function selectOption(value, text, imagePath) {
          document.getElementById('customSelect').innerHTML = `<span>${text}</span><img src="${imagePath}" alt="${text}">`;
          document.getElementById('customOptions').classList.remove('show');
      }
  
      document.getElementById('customSelect').addEventListener('click', function (event) {
          // Stop propagation to prevent the outer click event listener from closing the options list
          event.stopPropagation();
          document.getElementById('customOptions').classList.toggle('show');
      });
  
      document.addEventListener('click', function () {
          var options = document.getElementById('customOptions');
          if (options.classList.contains('show')) {
              options.classList.remove('show');
          }
      });

      document.addEventListener('DOMContentLoaded'), function () {
      // Add a click event listener to all "Ver Más" buttons
      document.querySelectorAll('.ver-mas').forEach(function (button) {
          button.addEventListener('click', function (event) {
              // Check if the user is not logged in (you need to adjust this condition based on your authentication logic)
              if (!userIsLoggedIn()) {
                  // Redirect the user to the login page
                  window.location.href = '/iniciosesion/';
              }
          });
      });
    };




  </script>
  <script src="https://cdn.jsdelivr.net/npm/google-translate-api-browser@0.1.12"></script>
  <script>
      var translateBtn; // Variable global para almacenar el botón de traducción
  
      function selectOption(value, text, imagePath) {
          var customSelect = document.getElementById('customSelect');
          customSelect.innerHTML = `<span>${text}</span><img src="${imagePath}" alt="${text}">`;
  
          // Cambiar el idioma de la página
          document.documentElement.lang = value;
  
          // Mostrar/ocultar elementos según el idioma seleccionado
          var navbarElementsEs = document.querySelectorAll('.translate-es');
          var navbarElementsEn = document.querySelectorAll('.translate-en');
  
          if (value === 'es') {
              navbarElementsEs.forEach(element => element.style.display = 'block');
              navbarElementsEn.forEach(element => element.style.display = 'none');
          } else {
              navbarElementsEs.forEach(element => element.style.display = 'none');
              navbarElementsEn.forEach(element => element.style.display = 'block');
          }
  
  
          // Activar evento de traducción
          if (translateBtn) {
              translateBtn.click();
          }
  
          var customOptions = document.getElementById('customOptions');
          customOptions.classList.remove('show');
      }
  
      function changeLanguage(value) {
          var customSelect = document.getElementById('customSelect');
          var selectedText = value === 'es' ? 'Español' : 'English';
          var imagePath = value === 'es' ? '{% static 'assets/img/idioma_español.png' %}' : '{% static 'assets/img/idioma_ingles.png' %}';
          customSelect.innerHTML = `<span>${selectedText}</span><img src="${imagePath}" alt="${selectedText}">`;
  
          // Disparar el evento de cambio de idioma
          selectOption(value, selectedText, imagePath);
      }
  </script>
  <script>
      document.addEventListener('DOMContentLoaded', function () {
          // Al cargar la página, obtener el botón de traducción
          translateBtn = document.querySelector('button');
      });
  </script>   
</body>
</html>
