<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>La Vía al Éxito</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles-landing.css' %}">
</head>
<body>
    <nav class="navbar">
        <div class="logo"></div>
        <div class="brand">La Vía al Éxito</div>
        <div class="options">
            <a href="/becas/">Becas</a>
            <a href="/donaciones/">Donaciones</a>
            <a href="#">Comunidad</a>
            <a href="/rs/">Redes Sociales</a>
            <a href="/registroap/" class="btn">Registrarse</a>
            <a href="/iniciosesion/" class="btn">Iniciar Sesión</a>
            <div class="language">
                <div class="language-tab">Español</div>
                <div class="language-options">
                    <a href="#">Español</a>
                    <a href="#">Inglés</a>
                </div>
            </div>
        </div>
    </nav>

    <div class="main-content">
        <div class="left-section">
            <div class="text-content">
                <h3>TODO EMPIEZA CON UN SUEÑO</h3>
                <h5>Seis años conectado a la comunidad con recursos para ayudar a alcanzar sus metas educativas</h5>
                <button class="btn">Dona ahora</button>
            </div>
            <div class="image">
                <!-- Puedes colocar tu imagen aquí -->
                <img src="tu-imagen.jpg" alt="Imagen de la landing page">
            </div>
        </div>

        <div class="connect-with-us">
            <h2>Conéctate con nosotros</h2>
            <div class="social-icons">
                <img src="{% static 'assets/img/facebook.png' %}" alt="Facebook" class="icon">
                <img src="{% static 'assets/img/twitter.png' %}" alt="Twitter" class="icon">
                <img src="{% static 'assets/img/instagram.png' %}" alt="Instagram" class="icon">
                <img src="{% static 'assets/img/youtube.png' %}" alt="YouTube" class="icon">
            </div>            
            <p>Si necesitas información sobre educación, becas, ideas para tu camino a la universidad, ayuda financiera y más. No dudes en contactarte con nosotros.</p>
        </div>

        <div class="values">
            <div class="value bordered">
                <h3>Integridad</h3>
                <p>En el camino al éxito es muy importante ser congruentes con nuestro actuar y nuestro ejemplo.  
                    Queremos sembrar en nuestra comunidad y en nuestra juventud el gran valor de la integridad.</p>
            </div>
            <div class="value bordered">
                <h3>Ética</h3>
                <p>En el camino al éxito nos aseguramos de trabajar de manera congruente con nuestros principios, la ética es parte de nuestra vida y nuestra misión como organización.</p>
            </div>
            <div class="value bordered">
                <h3>Empatía</h3>
                <p>En el camino hacia el éxito definitivamente nos ponemos en el lugar de las personas a las que ayudamos.
                    Conectamos a la comunidad de tal manera que creamos una gran red de ayuda mutua.</p>
            </div>
            <div class="value bordered">
                <h3>Esfuerzo</h3>
                <p>En el camino al éxito sabemos que nada pasa sin esfuerzo, disciplina y educación. Somos profesionales dedicados a construir una comunidad fuerte y unida. Dirigimos día a día nuestros esfuerzos para crear el camino hacia las oportunidades que necesita nuestra comunidad</p>
            </div>
        </div>

        <div class="additional-section">
            <div class="about-us bordered">
                <h2>Acerca de nosotros</h2>
                <p>Qué tipos de becas están disponibles y la diferencia entre ayuda Federal y Estatal, la importancia del servicio comunitario, los beneficios de tener calificaciones más altas, la diferencia entre clases de honor y avanzadas, entre otros. Sin embargo, los padres no tienen suficiente conocimiento sobre los temas muy importantes relacionados con los recursos disponibles para sus hijos. La Vía Al Éxito marca la diferencia en la vida de padres y estudiantes que buscan mejores oportunidades y vida para sus hijos. También queremos ayudar a los padres a tener la capacidad de obtener los recursos que están disponibles para que puedan alcanzar sus propias metas y cumplir los sueños de sus hijos.</p>
            </div>

            <div class="our-work bordered">
                <h2>Nuestro trabajo</h2>
                <p>Nuestro objetivo es conectar a las comunidades con los recursos educativos necesarios y suficientes, brindar orientación, conocimiento y accesibilidad para lograr una educación exitosa para todos.</p>
            </div>
        </div>

        <img src="imagen-central.jpg" alt="Imagen Central" class="center-image">

        <div class="contact-section bordered">
            <div class="contact-box">
                <h2>Contacto</h2>
                <p>Mantente en contacto con el equipo de La Vía al Éxito</p>
                <p>Dirección: 345 Somerset Street Suite 9 North Plainfield,
                    New Jersey, 07060, US</p>
                <p>Correo: contact@laviaalexito.com</p>
                <p>Teléfono: 732-319-7884</p>
            </div>

            <div class="visit-us-box bordered">
                <h2>Visítanos</h2>
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d24226.804237068925!2d-74.430538!3d40.622151!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c3ba20355aaaab%3A0x3c832829592a82f5!2s345%20Somerset%20St%20Suit%209%2C%20North%20Plainfield%2C%20NJ%2007060!5e0!3m2!1ses-419!2sus!4v1700139670560!5m2!1ses-419!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
    </div>

    <footer>
        <p>&copy; 2022 La Vía al Éxito. Todos los derechos reservados.</p>
    </footer>
</body>
</html>
