{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>La Vía al Éxito</title>
    <link rel="stylesheet" href="{% static 'css/styles-infobeca.css' %}">

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

    <link rel="icon" href="{% static 'assets/img/favico.ico' %}" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" rel="stylesheet">
   
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-white bg-white">
        <div class="container justify-content-end">
            <a class="navbar-brand" href="/">
                <img src="{% static 'assets/img/logosinfd.png' %}" alt="Logo" style="width: 110px; height: 90px; margin-right: 50px;">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link translate-es" style="color: black;" href="/donaciones/">Donaciones</a>
                        <a class="nav-link translate-en" style="color: black; display: none;" href="/donaciones/">Donations</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link translate-es" style="color: black;" href="/acercade/">Acerca de</a>
                        <a class="nav-link translate-en" style="color: black; display: none;" href="/acercade/">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link translate-es" style="color: black;" href="/rs/">Redes</a>
                        <a class="nav-link translate-en" style="color: black; display: none;" href="/rs/">Socials</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    


    <div class="container">
        <header class="text-center">
            <h1 class="translate-es">Concejo Estatal de las Artes de New Jersey</h1>
            <h1 class="translate-en display-none" style="display: none;">New Jersey State Council on the Arts</h1>
        </header>
        <div class="row">
            <div class="col-md-6">
                <ul class="text-list">
                    <li class="translate-es">El Concejo Estatal de las Artes de New Jersey ofrece una beca de aprendizaje de artes populares y tradicionales hasta de $4,000, en donde los $500 van para el aprendiz, mientras que al menos el 80% de los $3,500 restantes son para el maestro por sus honorarios.</li>
                    <li class="translate-en display-none" style="display: none;">The New Jersey State Council on the Arts offers a scholarship for learning popular and traditional arts of up to $4,000, where $500 goes to the apprentice, while at least 80% of the remaining $3,500 is for the teacher as their fee.</li>
                </ul>
            </div>
            <div class="col-md-6">
                <img src="{% static 'assets/img/infobecas1.jpg' %}" alt="Imagen" class="rounded-circle float-left mr-3" style="width: 240px; height: 220px; object-fit: cover; border-radius: 110px; margin-top: 80px; margin-left: -90px;">
                <ul class="text-list">
                    <li class="translate-es">¡Ven y aprende de lo hermoso que son las culturas! Para más información visita: <a href="https://www.nj.gov/.../pdf/fy23-ftaa-guidelines-spanish.pdf" target="_blank">https://www.nj.gov/.../pdf/fy23-ftaa-guidelines-spanish.pdf</a></li>
                    <li class="translate-en display-none" style="display: none;">Come and learn about the beauty of cultures! For more information, visit: <a href="https://www.nj.gov/.../pdf/fy23-ftaa-guidelines-english.pdf" target="_blank">https://www.nj.gov/.../pdf/fy23-ftaa-guidelines-english.pdf</a></li>
                </ul>
            </div>
        </div>
    </div>
    <hr class="hr-separator">

    <div class="container">
        <header class="text-center">
            <h1 class="translate-es">Mejores instituciones en el rubro de la medicina</h1>
            <h1 class="translate-en display-none" style="display: none;">Top Institutions in the Field of Medicine</h1>
        </header>
        <div class="row">
            <div class="col-md-6">
                <ul class="text-list">
                    <li class="translate-es">New Jersey es conocido por ser unos de los mejores lugares con excelentes programas educacionales. Si quieres ser la mejor enfermera o enfermero, e incluso especializarte en un área del rubro como; enfermería de la salud familiar, área clínica, educación de enfermería y más.</li>
                    <li class="translate-en display-none" style="display: none;">New Jersey is known for being one of the best places with excellent educational programs. If you want to be the best nurse, and even specialize in an area of the field such as family health nursing, clinical area, nursing education, and more.</li>
                </ul>
            </div>
            <div class="col-md-6">
                <img src="{% static 'assets/img/infobecas2.jpg' %}" alt="Imagen" class="rounded-circle float-left mr-3" style="width: 240px; height: 220px; object-fit: cover; border-radius: 110px; margin-top: 40px; margin-left: -80px;">
                <ul class="text-list">
                    <li class="translate-es">Aquí te dejamos las mejores instituciones que son destacadas por tener programas especialmente enfocados en el rubro de la medicina. Para más información visita: <a href="https://escuelasenfermeria.com/new-jersey/" target="_blank">https://escuelasenfermeria.com/new-jersey/</a></li>
                    <li class="translate-en display-none" style="display: none;">Here are the top institutions that are known for having programs specially focused on the field of medicine. For more information, visit: <a href="https://nursingschoolsalmanac.com/new-jersey" target="_blank">https://nursingschoolsalmanac.com/new-jersey</a></li>
                </ul>
            </div>
        </div>
    </div>
    

    <hr class="hr-separator">

    <div class="container">
        <header class="text-center">
            <h1 class="translate-es">Saint Leo University ofrece prestigiosa beca a nivel internacional!</h1>
            <h1 class="translate-en display-none" style="display: none;">Saint Leo University offers prestigious scholarship internationally!</h1>
        </header>
        <div class="row">
            <div class="col-md-6">
                <ul class="text-list">
                    <li class="translate-es">¡Saint Leo University ofrece prestigiosa beca a nivel internacional! Otorga la facilidad de tomar clases o realizar trabajos y exámenes, de acuerdo a tu disponibilidad. Dándote la oportunidad de conseguir un título universitario sin dejar de trabajar y con ayuda financiera.</li>
                    <li class="translate-en display-none" style="display: none;">Saint Leo University offers a prestigious scholarship internationally! It provides the flexibility to take classes or complete work and exams according to your availability. Giving you the opportunity to earn a university degree while continuing to work and with financial assistance.</li>
                </ul>
            </div>
            <div class="col-md-6">
                <img src="{% static 'assets/img/infobecas3.jpg' %}" alt="Imagen" class="float-left mr-3" style="width: 240px; height: 220px; object-fit: cover; border-radius: 110px; margin-top: 130px; margin-left: -80px;">
                <ul class="text-list">
                    <li class="translate-es">¡Ya no hay excusa para ser un profesional! Para más información visita: <a href="https://worldcampus.saintleo.edu/.../licenciaturas-online..." target="_blank">https://worldcampus.saintleo.edu/.../licenciaturas-online...</a></li>
                    <li class="translate-en display-none" style="display: none;">There is no excuse not to be a professional anymore! For more information, visit: <a href="https://worldcampus.saintleo.edu/.../licenciaturas-online..." target="_blank">https://worldcampus.saintleo.edu/.../licenciaturas-online...</a></li>
                </ul>
            </div>
        </div>
    </div>
    
    <hr class="hr-separator">

    <div class="container">
        <header class="text-center">
            <h1 class="translate-es">Community College Opportunity Grant ofrece buenas becas con excelentes programas educacionales</h1>
            <h1 class="translate-en display-none" style="display: none;">Community College Opportunity Grant offers good scholarships with excellent educational programs</h1>
        </header>
        <div class="row">
            <div class="col-md-6">
                <ul class="text-list">
                    <li class="translate-es">Community College Opportunity Grant ofrece buenas becas con excelentes programas educacionales que te ayudarán con tu desarrollo estudiantil. La beca cubre los costos de matrícula y cuotas educativas, de acuerdo al ingreso familiar del estudiante que reside en New Jersey!</li>
                    <li class="translate-en display-none" style="display: none;">Community College Opportunity Grant offers good scholarships with excellent educational programs that will help you with your student development. The scholarship covers tuition and educational fees, according to the family income of the student residing in New Jersey!</li>
                </ul>
            </div>
            <div class="col-md-6">
                <img src="{% static 'assets/img/infobecas4.jpg' %}" alt="Imagen" class="rounded-circle float-left mr-3" style="width: 240px; height: 220px; object-fit: cover; border-radius: 110px; margin-top: 40px; margin-left: -80px;">
                <ul class="text-list">
                    <li class="translate-es">¡No esperes más y póstula ya! Para más información visita: <a href="www.njccog.org" target="_blank">www.njccog.org</a> Para los alumnos inscritos en alguno de los 18 colegios comunitarios, visita: <a href="https://njfams.hesaa.org" target="_blank">https://njfams.hesaa.org</a></li>
                    <li class="translate-en display-none" style="display: none;">Don't wait any longer and apply now! For more information, visit: <a href="www.njccog.org" target="_blank">www.njccog.org</a> For students enrolled in any of the 18 community colleges, visit: <a href="https://njfams.hesaa.org" target="_blank">https://njfams.hesaa.org</a></li>
                </ul>
            </div>
        </div>
    </div>
    

    <hr class="hr-separator">

    <div class="container">
        <header class="text-center">
            <h1 class="translate-es">Fundación Universitaria Iberoamericana (FUNIBER)</h1>
            <h1 class="translate-en display-none" style="display: none;">Ibero-American University Foundation (FUNIBER)</h1>
        </header>
        <div class="row">
            <div class="col-md-6">
                <ul class="text-list">
                    <li class="translate-es">Fundación Universitaria Iberoamericana (FUNIBER) ofrece limitadas becas internacionales de ayuda financiera, vía online y presenciales con titulación universitaria en cada país. Esta beca será otorgada por un comité que evaluará el perfil del estudiante, según ingresos económicos y los expedientes que tenga, en base al campo que se especialice.</li>
                    <li class="translate-en display-none" style="display: none;">Ibero-American University Foundation (FUNIBER) offers limited international financial aid scholarships, online and in-person with university degrees in each country. This scholarship will be granted by a committee that will evaluate the student's profile, based on economic income and records, depending on the field of specialization.</li>
                </ul>
            </div>
            <div class="col-md-6">
                <img src="{% static 'assets/img/infobecas5.jpg' %}" alt="Imagen" class="rounded-circle float-left mr-3" style="width: 240px; height: 220px; object-fit: cover; border-radius: 110px; margin-top: 40px; margin-left: -80px;">
                <ul class="text-list">
                    <li class="translate-es">¡Lucha por ser el mejor! Para más información visita: <a href="https://www.funiber.org/becas-maestria" target="_blank">https://www.funiber.org/becas-maestria</a></li>
                    <li class="translate-en display-none" style="display: none;">Strive to be the best! For more information, visit: <a href="https://www.funiber.org/becas-maestria" target="_blank">https://www.funiber.org/becas-maestria</a></li>
                </ul>
            </div>
        </div>
    </div>
    

    <hr class="hr-separator">

    <div class="container">
        <header class="text-center">
            <h1 class="translate-es">New Jersey Institute of Technology</h1>
            <h1 class="translate-en display-none" style="display: none;">New Jersey Institute of Technology</h1>
        </header>
        <div class="row">
            <div class="col-md-6">
                <ul class="text-list">
                    <li class="translate-es">New Jersey Institute of Technology ofrece beca en el campo de la ingeniería para todos los estudiantes destacados, concediendo ayudas económicas de hasta 4.000 dólares. ¡No pierdas esta oportunidad!</li>
                    <li class="translate-en display-none" style="display: none;">New Jersey Institute of Technology offers a scholarship in the field of engineering for all outstanding students, providing financial aid of up to $4,000. Don't miss this opportunity!</li>
                </ul>
            </div>
            <div class="col-md-6">
                <img src="{% static 'assets/img/infobecas6.jpg' %}" alt="Imagen" class="rounded-circle float-left mr-3" style="width: 240px; height: 220px; object-fit: cover; border-radius: 110px; margin-top: 40px; margin-left: -80px;">
                <ul class="text-list">
                    <li class="translate-es">Para más información visita <a href="https://research.njit.edu/njit-makes-research-breakthroughs" target="_blank">https://research.njit.edu/njit-makes-research-breakthroughs</a></li>
                    <li class="translate-en display-none" style="display: none;">For more information, visit <a href="https://research.njit.edu/njit-makes-research-breakthroughs" target="_blank">https://research.njit.edu/njit-makes-research-breakthroughs</a></li>
                </ul>
            </div>
        </div>
    </div>
    

    <div class="idioma-container">
        <div class="custom-select" id="customSelect">
            <span>Español</span>
            <img src="{% static 'assets/img/idioma_español.png' %}" alt="Español">
        </div>
            <!-- ESTO DA ERROR PERO FUNCIONA BIEN, Y SI FUNCIONA BIEN NO SE TOCA :) -->
        <div class="custom-options" id="customOptions">
            <div class="custom-option" onclick="selectOption('es', 'Español', '{% static 'assets/img/idioma_español.png' %}')">Español</div>
            <div class="custom-option" onclick="selectOption('en', 'Ingles', '{% static 'assets/img/idioma_ingles.png' %}')">Ingles</div>
        </div>
    </div>
    
        <script>
            function selectOption(value, text, imagePath) {
                document.getElementById('customSelect').innerHTML = `<span>${text}</span><img src="${imagePath}" alt="${text}">`;
                document.getElementById('customOptions').classList.remove('show');
            }
        
            document.getElementById('customSelect').addEventListener('click', function (event) {
                // Stop propagation to prevent the outer click event listener from closing the options list
                event.stopPropagation();
                document.getElementById('customOptions').classList.toggle('show');
            });
        
            document.addEventListener('click', function () {
                var options = document.getElementById('customOptions');
                if (options.classList.contains('show')) {
                    options.classList.remove('show');
                }
            });
    
            document.addEventListener('DOMContentLoaded'), function () {
            // Add a click event listener to all "Ver Más" buttons
            document.querySelectorAll('.ver-mas').forEach(function (button) {
                button.addEventListener('click', function (event) {
                    // Check if the user is not logged in (you need to adjust this condition based on your authentication logic)
                    if (!userIsLoggedIn()) {
                        // Redirect the user to the login page
                        window.location.href = '/iniciosesion/';
                    }
                });
            });
          };
    
    
    
    
        </script>
        <script src="https://cdn.jsdelivr.net/npm/google-translate-api-browser@0.1.12"></script>
        <script>
            var translateBtn; // Variable global para almacenar el botón de traducción
        
            function selectOption(value, text, imagePath) {
                var customSelect = document.getElementById('customSelect');
                customSelect.innerHTML = `<span>${text}</span><img src="${imagePath}" alt="${text}">`;
        
                // Cambiar el idioma de la página
                document.documentElement.lang = value;
        
                // Mostrar/ocultar elementos según el idioma seleccionado
                var navbarElementsEs = document.querySelectorAll('.translate-es');
                var navbarElementsEn = document.querySelectorAll('.translate-en');
        
                if (value === 'es') {
                    navbarElementsEs.forEach(element => element.style.display = 'block');
                    navbarElementsEn.forEach(element => element.style.display = 'none');
                } else {
                    navbarElementsEs.forEach(element => element.style.display = 'none');
                    navbarElementsEn.forEach(element => element.style.display = 'block');
                }
        
        
                // Activar evento de traducción
                if (translateBtn) {
                    translateBtn.click();
                }
        
                var customOptions = document.getElementById('customOptions');
                customOptions.classList.remove('show');
            }
        
            function changeLanguage(value) {
                var customSelect = document.getElementById('customSelect');
                var selectedText = value === 'es' ? 'Español' : 'English';
                var imagePath = value === 'es' ? '{% static 'assets/img/idioma_español.png' %}' : '{% static 'assets/img/idioma_ingles.png' %}';
                customSelect.innerHTML = `<span>${selectedText}</span><img src="${imagePath}" alt="${selectedText}">`;
        
                // Disparar el evento de cambio de idioma
                selectOption(value, selectedText, imagePath);
            }
        </script>
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                // Al cargar la página, obtener el botón de traducción
                translateBtn = document.querySelector('button');
            });
        </script>   
    