<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>La Vía al Éxito</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles-registro.css' %}">
    <script src="https://www.google.com/recaptcha/enterprise.js" async defer></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>
<body>
    <nav class="navbarini navbar-expand-lg navbar-white bg-white">
        <a class="navbar-brand" href="/">
            <img src="{% static 'assets/img/logosinfd.png' %}" alt="Logo de La Vía al Éxito" style="width: 90px; height: 80px;">
            La Vía al Éxito
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>

    <div class="idioma-container">
        <div class="custom-select" id="customSelect">
            <span>Español</span>
            <img src="{% static 'assets/img/idioma_español.png' %}" alt="Español">
        </div>

        <!-- ESTO DA ERROR PERO FUNCIONA BIEN, Y SI FUNCIONA BIEN NO SE TOCA :) -->
        <div class="custom-options" id="customOptions">
            <div class="custom-option" onclick="selectOption('es', 'Español', '{% static 'assets/img/idioma_español.png' %}')">Español</div>
            <div class="custom-option" onclick="selectOption('en', 'Ingles', '{% static 'assets/img/idioma_ingles.png' %}')">Ingles</div>
        </div>
    </div>

    <div class="registration-container">
        <img src="{% static 'assets/img/logo.png' %}" alt="Imagen de La Vía al Éxito" class="top-image">

        <h1>Registro</h1>
        <form action="{% url 'registrar_usuario' %}" method="post" onsubmit="return validateForm()">
            {% csrf_token %}

            <label for="user_type">Selecciona tu ocupación:</label>
            <select name="user_type" id="user_type" required>
                <option value="">Seleccione una opción</option>
                <option value="apoderado">Apoderado</option>
                <option value="estudiante">Estudiante</option>
            </select>

            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" name="nombre" placeholder="Ingrese su nombre" required>

            <label for="apellido">Apellido:</label>
            <input type="text" id="apellido" name="apellido" placeholder="Ingrese su apellido" required>

            <label for="telefono">Número de teléfono:</label>
            <input type="tel" id="telefono" name="telefono" placeholder="Ingrese su número de teléfono" required pattern="[0-9]">

            <label for="estado">Estado:</label>
            <input type="text" id="estado" name="estado" placeholder="Ingrese su Estado" required>

            <label for="ciudad">Ciudad:</label>
            <input type="text" id="ciudad" name="ciudad" placeholder="Ingrese su Ciudad" required>

            <label for="correo">Correo Electronico:</label>
            <input type="text" id="email" name="email" placeholder="Ingrese su Correo Electronico" required>

            <label for="contraseña">Contraseña:</label>
            <div class="password-container">
                <input type="password" id="password" name="password" placeholder="Ingrese su contraseña" required>
                <span class="toggle-password" onclick="togglePasswordVisibility('contraseña')" id="eyeIcon-contraseña">
                    <img src="{% static 'assets/img/closed_eye.png' %}" alt="Mostrar/Ocultar contraseña">
                </span>
            </div>
            
            <label for="contraseña2">Confirme su contraseña:</label>
            <div class="password-container">
                <input type="password" id="contraseña2" name="contraseña2" placeholder="Confirme su contraseña" required>
                <span class="toggle-password" onclick="togglePasswordVisibility('contraseña2')" id="eyeIcon-contraseña2">
                    <img src="{% static 'assets/img/closed_eye.png' %}" alt="Mostrar/Ocultar contraseña">
                </span>
            </div>

            <!-- ... (otros campos del formulario) ... -->

            <!-- <div class="g-recaptcha" data-sitekey="6Lc8KxopAAAAALsOzslZnlmE6l2xUefKlVquXyVl" data-action="LOGIN"></div>

            <div class="checkbox-group">
                <input type="checkbox" id="notificaciones" name="notificaciones">
                <label for="notificaciones">Recibir notificaciones en su correo</label>
            </div>

            <div class="checkbox-group">
                <input type="checkbox" id="terminos" name="terminos" required>
                <label for="terminos">Acepto los Términos de Servicio y Política de Privacidad</label>
            </div> -->

            <input type="submit" value="Enviar">
        </form>

        <p>¿Ya tienes una cuenta? - <a href="{% url 'iniciosesion' %}">Inicia Sesión</a></p>
    </div>

    <!-- ESTO DA ERROR PERO FUNCIONA BIEN, Y SI FUNCIONA BIEN NO SE TOCA :) -->
    <script>

        function togglePasswordVisibility(inputId) {
          var input = document.getElementById(inputId);
          var eyeIcon = document.getElementById("eyeIcon-" + inputId);
        
          if (input.type === "password") {
            input.type = "text";
            eyeIcon.innerHTML = '<img src="{% static "assets/img/open_eye.png" %}" alt="Mostrar contraseña">';
          } else {
            input.type = "password";
            eyeIcon.innerHTML = '<img src="{% static "assets/img/closed_eye.png" %}" alt="Ocultar contraseña">';
          }
        }
        
        
                function selectOption(value, text, imagePath) {
                    document.getElementById('customSelect').innerHTML = `<span>${text}</span><img src="${imagePath}" alt="${text}">`;
                    document.getElementById('customOptions').classList.remove('show');
                }
        
                document.getElementById('customSelect').addEventListener('click', function () {
                    document.getElementById('customOptions').classList.toggle('show');
                });
        
                document.addEventListener('click', function (event) {
                    if (!event.target.matches('.custom-select')) {
                        var options = document.getElementById('customOptions');
                        if (options.classList.contains('show')) {
                            options.classList.remove('show');
                        }
                    }
                });
        
                function validateForm() {
                    // Validación del formulario
                    var role = document.getElementById('role').value;
                    var telefono = document.getElementById('telefono').value;
        
                    // Validar que se haya seleccionado un rol
                    if (role === "") {
                        alert("Por favor, seleccione su ocupación.");
                        return false;
                    }
        
                    // Validar el número de teléfono
                    if (!/^\d{9}$/.test(telefono)) {
                        alert("Por favor, ingrese un número de teléfono válido (9 dígitos).");
                        return false;
                    }
        
                    // Devuelve true si el formulario es válido
                    return true;
                }
        
            </script>
        </body>
        </html>