<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>La Vía al Éxito</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles-secun.css' %}">
    <link rel="icon" href="{% static 'assets/img/favico.ico' %}" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
        crossorigin="anonymous">
</head>

<body id="fondo">

    <nav class="navbar navbar-expand-lg navbar-white bg-white">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img src="{% static 'assets/img/logosinfd.png' %}" alt="Logo de La Vía al Éxito" style="width: 110px; height: 110px;">

            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" style="color: black;" href="/donaciones/">Donaciones</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="color: black;" href="/acercade/">Acerca de</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="color: black;" href="/rs/">Redes</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <h1 class="titulo">Prepárate desde la secundaria </h1>
    <p id="texto">Desde la secundaria puedes formarte para ingresar a la universidad que deseas.​</p>
    <p id="texto">A la hora de analizar las solicitudes de admisión, los responsables valoran enormemente la
        formación desde etapas tempranas.​</p>
    <p id="texto">Existen múltiples actividades que puedes llevar adelante y te darán un perfil más atractivo.</p>

    <div class="container-beca">
        <div class="becas-container">
            <div class="beca">
                <h2>1</h2>
                <p><b>Enfatiza las materias adecuadas</b></p>
            </div>
    
            <div class="beca">
                <h2>2</h2>
                <p><b>Presta atención a tu promedio</b></p>
            </div>
    
            <div class="beca">
                <h2>3</h2>
                <p><b>Participa en actividades extracurriculares</b></p>
            </div>
    
            <div class="beca">
                <h2>4</h2>
                <p><b>Has voluntariados</b></p>
            </div>
    
            <div class="beca">
                <h2>5</h2>
                <p><b>Apúntate a concursos</b></p>
            </div>
    
            <div class="beca">
                <h2>6</h2>
                <p><b>Prepárate para escribir ensayos</b></p>
            </div>
    
            <div class="beca">
                <h2>7</h2>
                <p><b>Haz una pasantía</b></p>
            </div>
    
            <div class="beca">
                <h2>8</h2>
                <p><b>Conviértete en tutor</b></p>
            </div>
    
            <div class="beca">
                <h2>9</h2>
                <p><b>Realiza un currículum u hoja de vida</b></p>
            </div>
    
            <div class="beca">
                <h2>10</h2>
                <p><b>Consigue recomendaciones</b></p>
            </div>

        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>

</body>
</html>
