{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>La Vía al Éxito</title>
    <link rel="stylesheet" href="{% static 'css/styles-unicolla.css' %}">

    <script src="https://code.jquery.com/jquexry-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

    <link rel="icon" href="{% static 'assets/img/favico.ico' %}" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" rel="stylesheet">
   
    <link rel="stylesheet" href="{% static 'css/styles-landing.css' %}">
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-white bg-white mb-5">
        <a class="navbar-brand" href="/">
            <img src="{% static 'assets/img/logosinfd.png' %}" alt="Logo de La Vía al Éxito" style="width: 90px; height: 80px;">
            La Vía al Éxito
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <div class="navbar-nav ml-auto">
                <a class="nav-item nav-link" href="/">Home</a>
                <a class="nav-item nav-link" href="/rs/">Redes Sociales</a>
                <a class="nav-item nav-link" href="/acercade/">Acerca de</a>
                </div>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="{% static 'assets/img/graduado.jpg' %}" alt="Logo de La Vía al Éxito" class="centered-image">
            </div>
            <div class="col-md-6">
                <div class="info-box">
                    <h1 class="text-center">¿Universidad o College?</h1>
                    <p>Existen escuelas del tipo “college” que ofrecen programas de 2 años en donde el estudiante obtiene un “Associates Degree” o un certificado, también puede cursar materias que luego le sirvan para completar la universidad, es decir la University ofrece programas de licenciatura, de 4 años, en su departamento de estudios “undergraduate”.</p>
                </div>
            </div>
        </div>
    </div>
    <hr class="hr-separator">

    <div class="container">
        <div class="row">
            <div class="col-md-6 order-md-2">
                <img src="{% static 'assets/img/pensativo.png' %}" alt="Logo de La Vía al Éxito" class="centered-and-enlarged-image">
            </div>
            <div class="col-md-6 order-md-1">
                <div class="info-box">
                    <h1 class="text-center">¿Universidad o College?</h1>
                    <p>Los términos “undergraduate” y “graduate” suelen causar confusión también a los estudiantes extranjeros, pues ambos son parte de la misma universidad. ​

                        El primero se refiere a los programas de licenciatura, el segundo a maestría y doctorados. (M.A y Ph. D)​
                        
                        ​.</p>
                    <p>Una de las diferencias principales radica en el tamaño del sistema escolar. Las universidades tienden a ofrecer programas más amplios que incluyen licenciaturas, maestrías y doctorados.</p>
                    <p>Por ejemplo, una universidad típicamente tiene escuelas (en algunos casos llamados colleges) de artes y ciencias, escuelas de ingeniería, de medicina y otros programas, mientras que, con sus excepciones, los Colleges suele ofrecer un programa más limitado y a menudo no tienen programas de maestría.</p>
                    <hr>
                </div>
            </div>
        </div>
    </div>