  @import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');

/* Estilos generales */
body {
  background: linear-gradient(to bottom right, #f1df73, #ee9585); /* Ajusta los colores según tu preferencia */
  color: #000; /* Color del texto principal */
  font-family: 'TuFuentePersonalizada', sans-serif; /* Reemplaza 'TuFuentePersonalizada' con el nombre de la fuente que desees */
}

/* Estilos de la barra de navegación */
.navbar {
  background-color: #fff; /* Fondo de la barra de navegación */
}

.navbar-brand {
  color: #000; /* Color del texto del logo y enlaces de navegación */
}

.navbar-toggler-icon {
  background-color: #000; /* Color del icono del botón de alternar navegación */
}

.nav-item {
  margin-right: 10px; /* Espaciado entre elementos de navegación */
}

.col-md-6 {
  /* Ajusta el texto de la lista a la derecha dentro del contenedor */
  text-align: right;
}

.text-list {
  padding-left: -10em; /* Ajusta el relleno izquierdo de la lista si es necesario */
  list-style-type: none; /* Elimina los estilos de lista predeterminados */
}

.text-list li {
  margin-left: 90px; /* Ajusta el margen izquierdo de cada ítem de la lista si es necesario */
}


/* Ajusta el margen derecho de la imagen para separarla de la lista */
.img {
  margin-right: 50px; /* Ajusta el margen derecho de la imagen */
}




/* Estilos de los títulos */
.text-center h1 {
  font-size: 3.5em; /* Tamaño del título */
  color: #333; /* Color del texto de los títulos */
  font-family: 'Dancing Script', cursive;
}
.text-center h2 {
  font-size: 2.5em; /* Tamaño del título */
  color: #333; /* Color del texto de los títulos */
  font-family: 'Dancing Script', cursive;
}

/* Estilos de la lista de texto */
.text-list {
  font-size: 2.2em; /* Tamaño del texto de la lista */
  font-family: 'Satisfy', cursive;
  text-align: left; /* Mover el texto de la lista hacia la izquierda */
}


/* Estilos personalizados para los títulos y subtítulos */


/* Otros estilos personalizados, por ejemplo, para la sección personalizada */
.custom-section {
  font-size: 1.4em; /* Tamaño de letra más grande para la sección personalizada */
  background-color: #f8f9fa; /* Fondo de color gris claro */
  padding: 80px; /* Espaciado interno */
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra ligera */
}

.custom-section img {
  width: 100px; /* Ajusta el ancho de la imagen según sea necesario */
  height: 100px; /* Ajusta la altura de la imagen según sea necesario */
}


/* Estilos del separador HR */
.hr-separator {
  border: none;
  height: 10px;
  background-color: #ff5151; /* Color del separador */
  margin: 90px 0; /* Ajusta el margen superior e inferior según sea necesario */
}

/* Otros estilos específicos que desees agregar */

