/* Estilos generales */
body {
  background: linear-gradient(to bottom right, #f1df73, #ee9585); /* Ajusta los colores según tu preferencia */
  color: #000; /* Color del texto principal */
  font-family: 'TuFuentePersonalizada', sans-serif; /* Reemplaza 'TuFuentePersonalizada' con el nombre de la fuente que desees */
}

/* Estilos de la barra de navegación */
.navbar {
  background-color: #fff; /* Fondo de la barra de navegación */
}

.navbar-brand {
  color: #000; /* Color del texto del logo y enlaces de navegación */
}

.navbar-toggler-icon {
  background-color: #000; /* Color del icono del botón de alternar navegación */
}

.nav-item {
  margin-right: 10px; /* Espaciado entre elementos de navegación */
}

.text-list {
  padding-left: 5em; /* Elimina el relleno predeterminado de la lista */
}

.text-list li {
  margin-left: 3.5em; /* Ajusta el margen izquierdo de cada ítem de la lista */
}


/* Estilos de los títulos */
.text-center h1 {
  font-size: 3.5em; /* Tamaño del título */
  color: #333; /* Color del texto de los títulos */
}
.text-center h2 {
  font-size: 2.5em; /* Tamaño del título */
  color: #333; /* Color del texto de los títulos */
}

/* Estilos de la lista de texto */
.text-list li {
  font-size: 2.2em; /* Tamaño del texto de la lista */
}

/* Estilos personalizados para los títulos y subtítulos */


/* Otros estilos personalizados, por ejemplo, para la sección personalizada */
.custom-section {
  font-size: 1.4em; /* Tamaño de letra más grande para la sección personalizada */
  background-color: #f8f9fa; /* Fondo de color gris claro */
  padding: 20px; /* Espaciado interno */
  border-radius: 10px; /* Bordes redondeados */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Sombra ligera */
}

.custom-section img {
  width: 100px; /* Ajusta el ancho de la imagen según sea necesario */
  height: 100px; /* Ajusta la altura de la imagen según sea necesario */
}


/* Estilos del separador HR */
.hr-separator {
  border: none;
  height: 10px;
  background-color: #ff5151; /* Color del separador */
  margin: 90px 0; /* Ajusta el margen superior e inferior según sea necesario */
}

/* Otros estilos específicos que desees agregar */

