body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #A770EF;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #FDB99B, #CF8BF3, #A770EF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #FDB99B, #CF8BF3, #A770EF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background-color: white;
    padding: 20px;
    border-radius: 32px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 450px;
    width: 100%;
    box-sizing: border-boxs;
    margin-top: 200px;
    margin-bottom: 120px;
}

.icon {
    font-size: 2em;
    margin-bottom: 10px;
}

h1, h2 {
    color: #333;
}

form {
    max-width: 300px;
    margin: 20px auto;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #333;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s ease;
}

input:focus {
    border-color: #4CAF50;
}

select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

.social-buttons {
    margin-top: 20px;
}

.twitter, .facebook {
    display: inline-block;
    background-color: #4CAF50;
    color: white;
    padding: 5px 5px;
    border: none;
    cursor: pointer;
    margin: 0 5px;
    border-radius: 100px;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

.twitter:hover, .facebook:hover {
    background-color: #45a049;
}

.forgot-password, .join-now {
    margin-top: 20px;
    color: #333;
}

.forgot-password a, .join-now a {
    color: #4CAF50;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.forgot-password a:hover, .join-now a:hover {
    color: #45a049;
}


/* IDIOMA */
#labelIdioma {
    position: fixed;
    top: 0px;
    right: 30px;
    z-index: 9999;
}

.idioma-container {
    position: fixed;
    top: 20px;
    right: 10px;
    z-index: 9998;
}

.idioma-container .custom-select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.idioma-container .custom-select img {
    margin-left: 10px;
    max-width: 20px; /* tamaño imagen */
}

.idioma-container .custom-options {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.idioma-container .custom-options.show {
    display: block;
}

.idioma-container .custom-option {
    padding: 10px;
    cursor: pointer;
}
/* IDIOMA */

/* ojito contraseña */
.toggle-password {
    position: absolute;
    right: -5px; 
    top: 43%;
    transform: translateY(-50%);
    cursor: pointer;
}

.toggle-password img {
    width: 20px; 
}

.password-container {
    position: relative;
}

.navbarini {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background-color: #ffffff; /* Color de fondo del navbar */
    border-bottom: 3px solid #000000; /* Agrega un borde inferior */
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-brand {
    display: flex;
    align-items: center;
}

.navbar-brand img {
    margin-right: 100px;
}

.navbar-nav {
    display: flex;
    align-items: center;
}

.navbar-nav .nav-item {
    margin-left: 50px;
    margin-right: 80px;
}

.navbar-light .navbar-nav .nav-link {
    color: rgb(0, 0, 0);
}

.navbar-nav .nav-link:hover {
    background-color: rgb(212, 69, 0);
    color: #000000;
}

.navbar-nav .nav-link {
    background-color: #f8f9fa;
    border-radius: 5px;
    padding: 5px 10px;
    transition: 0.3s;
    font-size: 20px;
    font-weight: thin; /* Agrega negrita */
}

.navbar-light .navbar-nav .nav-link {
    color: rgb(0, 0, 0);
}

.navbar-nav .nav-link:hover {
    background-color: rgb(212, 69, 0);
    color: #000000;
}

/* Estilos especiales para los enlaces "Registro" y "Iniciar sesión" */
.navbar-nav .nav-item .special-link {
    background-color: #000000;
    color: #ffffff;
    padding: 5px 10px;
    border: 3px solid #ccc;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.navbar-nav .nav-item .special-link:hover {
    background-color: rgb(212, 69, 0);
    color: #000000;
    border: solid #3a3737;
}
.navbar-nav .nav-item .special-link:hover {
    background-color: hwb(212 69% 0%);
    color: #000000;
    border:solid #3a3737;
}

.navbar {
    border-bottom: 3px solid #000000; /* Add a 1px solid border at the bottom */
    }
    
