body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f8f8f8;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    margin-top: 50px; /* Ajusta según sea necesario */
}

.login-container {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 400px;
    width: 100%;
    box-sizing: border-box;
}

.icon img {
    width: 80px; /* Ajusta el tamaño según tu icono */
    border-radius: 50%; /* Hace que el icono sea circular */
    margin-bottom: 20px;
}

h1, h2 {
    color: #333;
}

form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #555;
}

input {
    width: calc(100% - 16px); /* Ajusta el ancho con padding incluido */
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 6px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #904caf;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 8px;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #9251b1;
}

input::placeholder {
    color: #6e5959;
}