body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background: #ef32d9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #89fffd, #ef32d9);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #89fffd, #ef32d9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.container {
    max-width: 800px;
    margin: 50px auto; /* Ajusta el margen para centrar en la página */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.beca {
    width: 30%;
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    transition: transform 0.3s ease-in-out;
}

.beca:hover {
    transform: scale(1.05);
}

h2, p {
    margin: 0;
}

h2 {
    color: #333;
}

p {
    margin-top: 10px;
    color: #666;
}

<<<<<<< HEAD
/* IDIOMA */
#labelIdioma {
    position: fixed;
    top: 0px;
    right: 30px;
    z-index: 9999;
}

.idioma-container {
    position: fixed;
    top: 20px;
    right: 10px;
    z-index: 9998;
}

.idioma-container .custom-select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.idioma-container .custom-select img {
    margin-left: 10px;
    max-width: 20px; /* tamaño imagen */
}

.idioma-container .custom-options {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.idioma-container .custom-options.show {
    display: block;
}

.idioma-container .custom-option {
    padding: 10px;
    cursor: pointer;
}
/* IDIOMA */
=======
.titulo{
    text-align: center;
    margin-top: 10px;
}
>>>>>>> efc77d0c1a7e0b5307d695c56fe3359831e82c11
