

.text-center {
  margin-top: 100px;
}

.col-6 ul {
  margin-left: -10px;
}

.col-6 ul li {
  margin-bottom: 50px;
}

.text-list {
  display: flex;
  flex-direction: column;
}
/*separar los titulos del texto*/
header {
  margin-top: 20px;
  margin-bottom: 40px;
}

.container {
  margin-top: 40px;
  margin-bottom: 40px;
}
/*linea de separacion*/
.hr-separator {
  border: none;
  height: 10px;
  background-color: #f70000;
  margin: 70px 70px;
}

/* Agrega este código al final de tu archivo styles-paso.css */

/* Estilo del título principal */
.text-center {
  font-family: 'TuFuentePersonalizada', sans-serif; /* Reemplaza 'TuFuentePersonalizada' con el nombre de la fuente que desees */
  font-size: 2.5em; /* Tamaño del título */
  color: #000000; /* Color del texto */
}

/* Estilo del subtítulo */
.text-center {
  font-family: 'TuFuentePersonalizada', sans-serif;
  font-size: 1.8em;
  color: #000000;
}

/* Estilo de la lista de texto */
.text-list li {
  font-family: 'TuFuentePersonalizada', sans-serif;
  font-size: 1.2em;
  color: #000000;
}

/* Estilo del separador HR */
.hr-separator {
  border: none;
  height: 10px;
  background-color: #f70000;
  margin: 70px 0; /* Ajusta el margen superior e inferior según sea necesario */
}
